<?php
?>

<h1>Lista de Pessoas</h1>
<table class ="table table-stripped">
    <tr>
        <th>ID</th>
        <th>Nome</th>
    </tr>

<?php
    foreach($pessoas as $pes):
?>

<tr>
<td><?=$pes->getId()?></td>
<td><?=$pes->getNome()?></td>
</tr>
<?php
    endforeach;
?>
</table>